.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#header-image {
  width: 20vw;
  height: 20vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  color: white;
  position: absolute;
 bottom: 0;
 width: 100%;
}

#social-links img {
  height: 20px;
}
